@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!----------Profile Page----------------->
<section>

    <div class="profile-author">

        <div class="author-pic-profile">

            <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="">
        </div>

        <div class="author-name">
            @User.FindFirst("UserName").Value;
        </div>

        <div class="author-bio">
            <h2>
                @User.FindFirst("About").Value;
            </h2>
        </div>

        <div class="author-socialmedia">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fas fa-chart-bar"></i>
            <div id="posts-num">
            </div>
        </div>

        <div class="author-numberPosts">

        </div>
    </div>



</section>
<!----------Posts ----------------->


<section id="posts">
</section>
<!---------- Load More ----------------->

<section id="select-page">


    <div class="container  control-btn">
        <div class="col-md-12 text-center">

            <button class="prev-btn stop">Previous</button>

            <button class="next-btn go">Next</button>

        </div>
    </div>

</section>

<script>

    //posts.TotalPages to create page numbers
    //posts.CurrentPage create circle
    //posts.HasNext, posts.HasPrevious  check
    $(function () {

        var CurrentPage,
            HasNext,
            HasPrev,
            TotalPages = 0,
            pageSize = 4,
            page = 1,
            TotalCount = 0;

        getPosts(pageSize, page);


        $(".prev-btn").on("click", function () {

            if (HasPrev == true) {
                getPosts(pageSize, --CurrentPage);

                if ($(".next-btn").hasClass("stop")) {
                    $(".next-btn").removeClass("stop");
                    $(".next-btn").addClass("go");
                }
            }

            else {
                if ($(".prev-btn").hasClass("go")) {
                    $(".prev-btn").removeClass("go");
                    $(".prev-btn").addClass("stop");
                }
            }
        });

        $(".next-btn").on("click", function () {
            if (HasNext == true) {
                getPosts(pageSize, ++CurrentPage);
                if ($(".prev-btn").hasClass("stop")) {
                    $(".prev-btn").removeClass("stop");
                    $(".prev-btn").addClass("go");
                }
            }
            else {
                if ($(".next-btn").hasClass("go")) {
                    $(".next-btn").removeClass("go");
                    $(".next-btn").addClass("stop");
                }
            }
        });




        html = "";
        $("#posts").html(html);

        function getPosts(pageSize, pageNumber) {
            $.ajax({
                type: "POST",
                url: "https://localhost:5001/Profile/GetUserPosts",
                data: { "pageSize": pageSize, "pageNumber": pageNumber },
                success: function (response) {
                    //var data = response.success.data;

                    //Assign vars
                    CurrentPage = parseInt(response.currentPage);
                    HasNext = response.hasNext;
                    HasPrev = response.hasPrevious;
                    TotalPages = parseInt(response.totalPages);
                    TotalCount = parseInt(response.totalCount);
                    //////////////

                    $("#posts-num").append(TotalCount);

                    console.log("seeee");
                    $("#posts").html("");

                    html = `<div class="container-fluid header-section">
                            <div class="row">
                                <div class="col-12">
                                    <div class="post-type">
                                       Recent Posts
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="container-fluid">

                       <div class="row mt-5">
                `;

                    for (var i = 0; i < response.postsValues.length; i++) {
                        html += `


                     <div class="col-12 col-md-6 col-lg-4">
                    <div class="card border-0 shadow-lg pt-5 my-5 position-relative">
                        <div class="card-body p-4">
                           <div class="control-post  border-0 mb-4 text-center">

                            <div class="continer">
                                <div  class="row">

                                  `;

                        if (response.postsValues[i].visible == true) {
                            html += `
                                    <div class="col-sm-4 col-12">

                                    <button class="p-hide" value="`+ response.postsValues[i].slug + `">Hide</button>

                                    </div >
                            `
                        }
                        else {
                            html += `
                                    <div class="col-sm-4 col-12">
                                    <button  class="p-show" value="`+ response.postsValues[i].slug + `">Show</button>

                                    </div >
                            `
                        }
                        html += `
                                    <div class="col-sm-4 col-12">

                                     <a class="p-edit"  href="https://localhost:5001/Post/EditPost?Slug=`+ response.postsValues[i].slug + `">Edit</a>

                                    </div>
                                    <div class="col-sm-4 col-12">

                                    <button  class="p-delete" value="`+ response.postsValues[i].slug + `">Delete</button>

                                    </div>
                                </div>
                            </div>

                        </div>
                            <div class="post-time">
                                <span class="post__minutes">
                                    2 min read
                                </span>
                                <time class="post__date" datetime="2020-11-11">`+ response.postsValues[i].createdAt + `</time>
                            </div>



                                <a class="card-title post-title" href="https://localhost:5001/Post/ShowPostBySlug?Slug=`+ response.postsValues[i].slug + `">` + response.postsValues[i].title + `</a>

                 <h6 class="card-subtitle mb-2 text-muted post-inside">
                                `+ response.postsValues[i].summary + `
                            </h6>
                        </div>
                        <div class="card-footer theme-bg-primary border-0 mb-4 text-center">

                            <a href="#" class="p-tag">
                                Work
                            </a>

                            <a href="#" class="p-tag">
                                Notes
                            </a>
                        </div>
                    </div>
                </div>



                `;
                    }

                    html += " </div>";

                    $("#posts").html(html);
                    console.log(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }

        ///Control buttons///

        document.getElementById('posts')
            .addEventListener('click', event => { // Step 2
                console.log(event.target.className);
                if (event.target.className == "p-hide") {
                    hidepost(event.target.getAttribute('value'));
                }
                else if (event.target.className == "p-show") {
                    showPost(event.target.getAttribute('value'));
                }
                else if (event.target.className == "p-delete") {
                    deletePost(event.target.getAttribute('value'));
                }
             
            });

        function hidepost(slug) {

            $.ajax({
                type: "POST",
                url: "https://localhost:5001/Profile/HidePost",
                data: { "Postslug": slug },
                success: function (response) {

                    getPosts(pageSize, page);
                    console.log("done");
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        function showPost(slug) {

            $.ajax({
                type: "POST",
                url: "https://localhost:5001/Profile/ShowPost",
                data: { "Postslug": slug },
                success: function (response) {
                    getPosts(pageSize, page);
                    console.log("done");
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

      
        function deletePost(slug) {

            $.ajax({
                type: "POST",
                url: "https://localhost:5001/Profile/DeletePost",
                data: { "Postslug": slug },
                success: function (response) {
                    getPosts(pageSize, page);
                    console.log("done");
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });


        }
    })

</script>

