@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AyyBlog.ViewModel.UserDTO
<!----------Profile Page----------------->
<section>

    <div class="profile-author">

        <div class="author-pic-profile">

            <img src="~/images/UserProfileImage/@Model.ProfilePic" alt="">
        </div>

        <div class="author-name">
            @Model.userName;
        </div>

        <div class="author-bio">
            <h2>
                @Model.About;
            </h2>
        </div>
        
        <input type="hidden" id="user_email" value="@Model.email" />

        <div class="author-socialmedia">
            <i class="fab fa-twitter"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fas fa-chart-bar"></i>
            <div id="posts-num">
            </div>
        </div>

        <div class="author-numberPosts">

        </div>
    </div>



</section>
<!----------Posts ----------------->


<section id="posts">
</section>
<!---------- Load More ----------------->

<section id="select-page">


    <div class="container  control-btn">
        <div class="col-md-12 text-center">

            <button class="prev-btn stop">Previous</button>

            <button class="next-btn go">Next</button>

        </div>
    </div>

</section>

<script>

    //posts.TotalPages to create page numbers
    //posts.CurrentPage create circle
    //posts.HasNext, posts.HasPrevious  check
    $(function () {

        var CurrentPage,
            HasNext,
            HasPrev,
            TotalPages = 0,
            pageSize = 4,
            page = 1,
            TotalCount = 0,
            UserEmail = $("#user_email").val();
        getPosts(pageSize, page);


        $(".prev-btn").on("click", function () {

            if (HasPrev == true) {
                getPosts(pageSize, --CurrentPage);

                if ($(".next-btn").hasClass("stop")) {
                    $(".next-btn").removeClass("stop");
                    $(".next-btn").addClass("go");
                }
            }

            else {
                if ($(".prev-btn").hasClass("go")) {
                    $(".prev-btn").removeClass("go");
                    $(".prev-btn").addClass("stop");
                }
            }
        });

        $(".next-btn").on("click", function () {
            if (HasNext == true) {
                getPosts(pageSize, ++CurrentPage);
                if ($(".prev-btn").hasClass("stop")) {
                    $(".prev-btn").removeClass("stop");
                    $(".prev-btn").addClass("go");
                }
            }
            else {
                if ($(".next-btn").hasClass("go")) {
                    $(".next-btn").removeClass("go");
                    $(".next-btn").addClass("stop");
                }
            }
        });




        html = "";
        $("#posts").html(html);

        function getPosts(pageSize, pageNumber) {
            $.ajax({
                type: "POST",
                url: "https://localhost:5001/Profile/SearchUserProfile",
                data: { "pageSize": pageSize, "pageNumber": pageNumber, "email": UserEmail},
                success: function (response) {
                    //var data = response.success.data;

                    //Assign vars
                    CurrentPage = parseInt(response.currentPage);
                    HasNext = response.hasNext;
                    HasPrev = response.hasPrevious;
                    TotalPages = parseInt(response.totalPages);
                    TotalCount = parseInt(response.totalCount);
                    //////////////
                  
                    if ($("#posts-num").empty()) {

                        $("#posts-num").append(TotalCount);
                    }

                    console.log("seeee");
                    $("#posts").html("");

                    html = `<div class="container-fluid header-section">
                            <div class="row">
                                <div class="col-12">
                                    <div class="post-type">
                                       Recent Posts
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="container-fluid">

                       <div class="row mt-5">
                `;

                    for (var i = 0; i < response.postsValues.length; i++) {
                        html += `


                     <div class="col-12 col-md-6 col-lg-4 mt-5 mb-5">
                    <div class="card border-0 shadow-lg">
                        <div class="card-body p-4">
                           <div class="control-post  border-0 mb-4 text-center">

                            <div class="continer">
                                <div  class="row">

                                  `;
                      
                        html += `
                                 
                                </div>
                            </div>

                        </div>
                            <div class="post-time">
                                <time class="post__date" datetime="2020-11-11">`+ response.postsValues[i].createdAt + `</time>
                            </div>



                                <a class="card-title post-title" href="https://localhost:5001/Post/ShowPostBySlug?Slug=`+ response.postsValues[i].slug + `">` + response.postsValues[i].title + `</a>

                 <h6 class="card-subtitle mb-2 text-muted post-inside">
                                `+ response.postsValues[i].summary + `
                            </h6>
                        </div>
                        <div class="card-footer theme-bg-primary border-0 mb-4 text-center">
 <a href="#" class="p-tag">

                    `+ response.postsValues[i].category + `
                            </a>
                        </div>
                    </div>
                </div>



                `;
                    }

                    html += " </div>";

                    $("#posts").html(html);
                    console.log(response);
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });

        }

        ///Control buttons///

        document.getElementById('posts')
            .addEventListener('click', event => { // Step 2
                console.log(event.target.className);
                if (event.target.className == "p-hide") {
                    hidepost(event.target.getAttribute('value'));
                }
                else if (event.target.className == "p-show") {
                    showPost(event.target.getAttribute('value'));
                }
                else if (event.target.className == "p-delete") {
                    deletePost(event.target.getAttribute('value'));
                }

            });

      
    })

</script>

